<br>

<div class="grid-container">
    <div class="grid-item">
        <%= render "uzebba/terminals/memory_usage" %>
    </div>  
    <div class="grid-item">
        <%= render "uzebba/terminals/cpu_usage" %>  
    </div>  
</div>
